.Media {
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    width: 240px;
    vertical-align: top;
}

.Media-cover {
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 3px 3px;
    padding-bottom: 8px;
}

.Media:hover .Media-cover {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.Media-image {
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.Media-title, .Media-author {
    margin: 5px 15px;
}

.Media-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #44546b;
    white-space: normal;
}

.Media-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #727272;
}